* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

body {
    font-family: Georgia, sans-serif;
    font-style: normal;
}

body, h1, h2, h3, h4, p {
    font-weight: 400;
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    font: inherit;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
}

.btn {
    transition: .5s ease;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}

.about-wrap, .donation-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about, .pets, .help, .donation {
    padding: 80px 0 100px;
}

.about, .help {
    background: #FFFFFF;
}

.pets, .donation {
    background-color: #F6F6F6;
}

.header2 {
    padding: 30px 0;
    background-color: #FFFFFF;
    background-size: cover;
}

.header1 {
    background-image: radial-gradient(96.22% 577.55% at 97.96% 3.53%, #19191B 0%, #433429 100%);
    background-size: cover;
}

.item_cozy {
    text-align: center;
}

.header1 .navigation, .header2 .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.link {
    display: flex;
    gap: 35px;
}

.header2 .navigation {
    padding-top: 0;
}

.header1 a, .header2 a {
    font-family: 'Arial', sans-serif;
    text-decoration: none;
    color: #CDCDCD;
    font-size: 15px;
    line-height: 160%;
}


.header1 .active {
    color: #FAFAFA;
    text-decoration: underline solid 3px #F1CDB3;
    text-underline-offset: 0.4em;
}

.header2 .active {
    color: #292929;
    text-decoration: underline solid 3px #F1CDB3;
    text-underline-offset: 0.4em;
}

.header1 .cozy-head, .header2 .cozy-head {
    color: #F1CDB3;
    font-size: 32px;
    margin-bottom: 10px;
}

.header2 .cozy-head {
    color: #545454;;
}

.header1 .cozy_head_sub, .header2 .cozy_head_sub {
    font-family: Arial, sans-serif;
    color: #FFFFFF;
    font-size: 13px;
    letter-spacing: 0.09rem;
}

.header2 .cozy_head_sub {
    color: #292929;
}

.header_sab {
    margin: 42px 0;
    color: #CDCDCD;
    font-family: 'Arial', serif;
    font-size: 15px;
    line-height: 160%;
}

.header_content {
    display: flex;
    padding-top: 90px;
}

.header_text {
    padding: 163px 42px 0 0;
}


.header-head {
    font-size: 44px;
    color: #FFFFFF;
    max-width: 310px;
    line-height: 130%;
}

.make.btn {
    padding: 15px 45px;
    background: #F1CDB3;
    border-radius: 100px;
    font-size: 17px;
    line-height: 130%;
    color: #292929;
    max-width: 207px;
    max-height: 52px;
}

/*HEADER END*/

.about-text {
    padding-right: 175px
}

.about_head {
    padding-right: 60px;
    margin: 0 0 25px;
}

.about_subheading p {
    font-family: Arial, sans-serif;
    max-width: 430px;
    margin: 0 0 25px;
    font-size: 15px;
    color: #4C4C4C;
    line-height: 1.6;
}

.about_p {
    -webkit-text-stroke: 0.05rem #4C4C4C;
    text-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);
}

.about img {
    padding: 0 120px 0 175px;
}


/*PETS START*/
.pets-content {
    display: flex;
    flex-direction: column;
}

.slider {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
    align-items: center;
    justify-content: space-between;
}

.pets-head {
    align-self: center;
    white-space: pre-line;
    margin-bottom: 60px;
    text-align: center;
}

.slider_item {
    background: #FFFFFF;
    text-align: center;
}


.slider_item img {
    margin-bottom: 30px;
}

.slider_item p {
    font-size: 20px;
    line-height: 23px;
    color: #545454;
    margin-bottom: 30px;
}

.learn_more {
    width: 187px;
    height: 52px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    background-color: #FAFAFA;
    font-size: 17px;
    color: #292929;
    margin-bottom: 45px;
}

.rest {
    align-self: center;
    font-size: 17px;
    width: 261px;
    height: 52px;
    background: #F1CDB3;
    border: 1px solid #F1CDB3;
    border-radius: 100px;
}

.form-but {
    text-align: center;
}

.knob {
    background-color: #F6F6F6;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
}


/*HELP START*/


.help-head {
    margin: 0 auto 60px;
    text-align: center;
    max-width: 310px;
}

.flex-container {
    text-align: center;
    max-width: 1026px;
    margin: 0 auto;
}

.item1, .item2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
}

.item2 {
    display: flex;
    justify-content: space-between;
    padding: 0 84px;
}

.flex-container p {
    font-size: 20px;
    color: #545454;
}

.flex-container img {
    margin-bottom: 30px;
}


/*HELP END*/

.donation-head {
    max-width: 300px;
    margin: 0 0 20px;
    white-space: pre-line;
}

.donation_sub {
    margin: 0 0 15px;
    font-size: 15px;
    color: #545454;
}

.donation-dog {
    padding-left: 143px;
}

.donation-text {
    padding: 0 142px 0 30px;
}

.donation-legal_info {
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-style: italic;
    color: #B2B2B2;
    margin: 20px 0 0;
}

.donation-card {
    display: flex;
    padding: 10px 15px;
    background: #F1CDB3;
    border-radius: 9px;
}

.card_number {
    padding-left: 15px;
    font-size: 20px;
    letter-spacing: 0.04rem;
}

/*---*/
.footer {
    background: radial-gradient(96.22% 577.55% at 97.96% 3.53%, #19191B 0%, #433429 100%);
}

.foot-wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}

.foot-head {
    margin: 0;
    color: #FFFFFF;
}

.grid {
    display: grid;
    gap: 20px;
    justify-content: center;
    align-items: center;
    grid-template-rows: 90px 35px 35px;
    grid-template-columns: 300px 300px;
    column-gap: 130px;
    row-gap: 35px;
}

.foot_div {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #F1CDB3;
}

.foot_div span {
    letter-spacing: 0.06em;
    padding-left: 20px;
}

.foot_div a {
    display: flex;
    color: #F1CDB3;
}

@media (hover: hover) {

    .header1 .item_cozy:hover > .cozy-head {
        color: #d50144;
    }

    .header1 .item_cozy:hover > .cozy_head_sub {
        color: #d50144;
    }

    .header2 .item_cozy a:hover > .cozy-head {
        color: #ce01d5;
    }

    .header2 .item_cozy a:hover > .cozy_head_sub {
        color: #ce01d5;
    }

    .header1 .head-hover:hover {
        cursor: pointer;
        color: #FAFAFA;
    }

    .header2 .head-hover:hover {
        cursor: pointer;
        color: #292929;
    }

    .foot_div a:hover {
        font-size: 18px;
        padding: 10px;
        background-color: #ffffff;
        border-radius: 50px;
        cursor: pointer;
        color: #a424d9;
    }

    .item_cozy:hover {
        cursor: pointer;
    }

    .slider_item:hover {
        background-color: #f1f0ef;
        cursor: pointer;
        box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
    }

    .slider_item:hover > .learn_more {
        border: 2px solid #FAFAFA;
        background-color: #F1CDB3;
    }

    .btn.make:hover, .btn.rest:hover {
        background-color: #FDDCC4;
    }

    .donation-card:hover > .card_number {
        cursor: pointer;
        color: #9925ab;
    }

    .activation:hover {
        background: #F1CDB3;
        border: 2px solid #FFFFFF;
    }

    button:hover {
        cursor: pointer;
    }
}

ul, ol, li {
    list-style: none;
    padding: 0;
}

.friends_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 2.44rem;
    row-gap: 1.69rem;
    margin-bottom: 3.56rem;
}

.friends-navigation {
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}

.inactive {
    border-color: #cdcdcd;
    color: #cdcdcd;
    cursor: default;
}

._number {
    background-color: #f1cdb3;
}
