* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

body {
    font-family: Georgia, sans-serif;
    font-style: normal;
}

body, h1, h2, h3, h4, p {
    font-weight: 400;
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    font: inherit;
}

.wrapper {
    max-width: 75rem;
    margin: auto;
}

.header-wrap{
    max-width: 75rem;
    margin: auto;
}

.btn {
    transition: .5s ease;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    font-weight: 400;
    font-size: 2.188rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}

.about-wrap, .donation-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about, .pets, .help, .donation {
    padding: 5rem 0 6.25em;
}

.about, .help {
    background: #FFFFFF;
}

.pets, .donation {
    background-color: #F6F6F6;
}

.header1, .header2 {
    background-image: radial-gradient(96.22% 577.55% at 97.96% 3.53%, #19191B 0%, #433429 100%);
    background-size: cover;
    padding: 30px 0;
}

.header2 {
    background-color: #FFFFFF;
}

.item_cozy {
    text-align: center;
}

.header1 .navigation, .header2 .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    display: flex;
    gap: 2.188rem;
}


.header1 a, .header2 a {
    font-family: 'Arial', sans-serif;
    text-decoration: none;
    color: #CDCDCD;
    font-size: 0.94rem;
    line-height: 160%;
}


.header1 .active , .header2 .active{
    color: #FAFAFA;
    text-decoration: underline solid 3px #F1CDB3;
    text-underline-offset: 0.4em;
}

.header2 .active {
    color: #292929;
}

.header1 .cozy-head, .header2 .cozy-head {
    color: #F1CDB3;
    font-size: 32px;
    margin-bottom: 0.625rem;
}

.header2 .cozy-head {
    color: #545454;;
}

.header1 .cozy_head_sub, .header2 .cozy_head_sub {
    font-family: Arial, sans-serif;
    color: #FFFFFF;
    font-size: 0.813rem;;
    letter-spacing: 0.09rem;
}

.header2 .cozy_head_sub {
    color: #292929;
}

.header_sab {
    margin: 2.625rem 0;
    color: #CDCDCD;
    font-family: 'Arial', serif;
    font-size: 0.94rem;
    line-height: 160%;
}

.start {
    padding-top: 60px;
    background-image: radial-gradient(96.22% 577.55% at 97.96% 3.53%, #19191B 0%, #433429 100%);
}

.header_content {
    display: flex;
}

.header_text {
    padding: 10.19rem 2.5rem 0 0;
}


.header-head {
    font-size: 2.75rem;
    color: #FFFFFF;
    max-width: 19.34rem;
    line-height: 130%;
}

.make.btn {
    padding: 0.94rem 2.81rem;
    background: #F1CDB3;
    border-radius: 6.25rem;
    font-size: 1.063rem;
    line-height: 130%;
    color: #292929;
    max-width: 12.94rem;
    max-height: 3.25rem;
}

/*HEADER END*/

.about-text {
    padding-right: 10.94rem;
}

.about_head {
    padding-right: 3.75rem;
    margin: 0 0 1.56rem;
}

.about_subheading p {
    font-family: Arial, sans-serif;
    max-width: 26.88rem;
    margin: 0 0 1.56rem;
    font-size: 0.94rem;
    color: #4C4C4C;
    line-height: 1.6;
}

.about_p {
    -webkit-text-stroke: 0.05rem #4C4C4C;
    text-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);
}

.about img {
    padding: 0 7.5rem 0 10.94rem;
}


/*PETS START*/
.pets-content {
    display: flex;
    flex-direction: column;
}

.slider {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3.75rem;
    align-items: center;
    justify-content: space-between;
}

.pets-head {
    align-self: center;
    white-space: pre-line;
    margin-bottom: 3.75rem;
    text-align: center;
}

.slider_item {
    background: #FFFFFF;
    text-align: center;
}


.slider_item img {
    margin-bottom: 1.88rem;
}

.slider_item p {
    font-size: 1.25rem;
    line-height: 1.438rem;
    color: #545454;
    margin-bottom: 1.88rem;
}

.learn_more {
   max-width: 11.69rem;
    height: 3.25rem;;
    border-radius: 6.25rem;
    border: 2px solid #F1CDB3;
    background-color: #FAFAFA;
    font-size: 1.06rem;
    color: #292929;
    margin-bottom: 2.81rem;
}

.rest {
    align-self: center;
    font-size: 1.06rem;
    max-width: 16.31rem;
    height: 3.25rem;
    background: #F1CDB3;
    border: 1px solid #F1CDB3;
    border-radius: 6.25rem;
}

.form-but {
    text-align: center;
}

.knob {
    background-color: #F6F6F6;
    max-width: 3.25rem;
    height: 3.25rem;;
    border: 2px solid #F1CDB3;
    border-radius: 6.25rem;
}


/*HELP START*/


.help-head {
    margin: 0 auto 3.75rem;
    text-align: center;
    max-width: 310px;
}

.flex-container {
    text-align: center;
    max-width: 64.125rem;
    margin: 0 auto;
}

.item1, .item2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.44rem;
}

.item2 {
    display: flex;
    justify-content: space-between;
    padding: 0 5.25rem;
}

.flex-container p {
    font-size: 1.25rem;
    color: #545454;
}

.flex-container img {
    margin-bottom: 1.88rem;
}


/*HELP END*/

.donation-head {
    max-width: 18.75rem;
    margin: 0 0 1.25rem;
    white-space: pre-line;
}

.donation_sub {
    margin: 0 0 0.94rem;
    font-size: 0.94rem;
    color: #545454;
}

.donation-dog {
    padding-left: 8.94rem;
}

.donation-text {
    padding: 0 8.88rem 0 1.88rem;
}

.donation-legal_info {
    font-family: Arial, sans-serif;
    font-size: 0.75rem;
    line-height: 1.13rem;
    font-style: italic;
    color: #B2B2B2;
    margin: 1.25rem 0 0;
}

.donation-card {
    display: flex;
    padding: 0.63rem 0.94rem;
    background: #F1CDB3;
    border-radius: 0.56rem;
}

.card_number {
    padding-left: 0.94rem;
    font-size: 1.25rem;
    letter-spacing: 0.04rem;
}

/*---*/
.footer {
    background: radial-gradient(96.22% 577.55% at 97.96% 3.53%, #19191B 0%, #433429 100%);
}

.foot-wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 3.75rem;
}

.foot-head {
    margin: 0;
    color: #FFFFFF;
}

.grid {
    display: grid;
    gap: 1.25rem;
    justify-content: center;
    align-items: center;
    grid-template-rows: 90px 35px 35px;
    grid-template-columns: 300px 300px;
    column-gap: 8.13rem;
    row-gap: 2.5rem;
}

.foot_div {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    color: #F1CDB3;
}

.foot_div span {
    letter-spacing: 0.06em;
    padding-left: 1.25rem;
}

.foot_div a {
    display: flex;
    color: #F1CDB3;
}

@media (hover: hover) {

    .header1 .item_cozy:hover > .cozy-head {
        color: #d50144;
    }

    .header1 .item_cozy:hover > .cozy_head_sub {
        color: #d50144;
    }

    .header2 .item_cozy a:hover > .cozy-head {
        color: #ce01d5;
    }

    .header2 .item_cozy a:hover > .cozy_head_sub {
        color: #ce01d5;
    }

    .header1 .head-hover:hover {
        cursor: pointer;
        color: #FAFAFA;
    }

    .header2 .head-hover:hover {
        cursor: pointer;
        color: #292929;
    }

    .foot_div a:hover {
        cursor: pointer;
        color: #a424d9;
    }

    .item_cozy:hover {
        cursor: pointer;
    }

    .slider_item:hover {
        background-color: #f1f0ef;
        cursor: pointer;
        box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
    }

    .slider_item:hover > .learn_more {
        border: 2px solid #FAFAFA;
        background-color: #F1CDB3;
    }

    .btn.make:hover, .btn.rest:hover {
        background-color: #FDDCC4;
    }

    .donation-card:hover > .card_number {
        cursor: pointer;
        color: #9925ab;
    }

    .activation:hover {
        background: #F1CDB3;
        border: 2px solid #FFFFFF;
    }

    button:hover {
        cursor: pointer;
    }
}

ul, ol, li {
    list-style: none;
    padding: 0;
}

.friends_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 2.44rem;
    row-gap: 1.69rem;
    margin-bottom: 3.56rem;
}

.friends-navigation {
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}

.inactive {
    border-color: #cdcdcd;
    color: #cdcdcd;
    cursor: default;
}

._number {
    background-color: #f1cdb3;
}


.header__hamburger {
    margin-right: 37px;
}

.hamburger__line, .hamburger:after, .hamburger:before {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: #173A56;
    border-radius: 5px;
    width: 100%;
    height: 3px;
}

.hamburger {
    display: none;
    position: relative;
    width: 31px;
    height: 25px;
}



@media (max-width: 768px) {
    .footer {

    }
}


@media (max-width: 320px) {
    .hamburger {
        display: inline-block;
    }
}
.hamburger:before {
    top: 0;
    left: 0;
}
.hamburger:after {
    bottom: 0;
    left: 0;
}

.hamburger__line {
    top: calc( 50% - 1.5px );
    left: 0;
}

@media (max-width: 1200px) {
    .wrapper {
        padding: 0 100px;
    }
}